work*
plots
data
*reps

models/facenet/*.t7
models/dlib/shape_predictor_68_face_landmarks.dat

*.pyc
*.mp4

images/examples-aligned

evaluation/*/*.csv
evaluation/*/*.pdf

demos/web/bower_components
demos/web/unknown*.npy

models/openface/*.t7
models/openface/*.pkl
celeb-classifier*

site
