build
_build
plots
work*
*reps

data
!data/vgg/download-and-align.py
!data/download-lfw-subset.sh

*.pyc
*.mp4

images/examples-aligned

evaluation/*/
evaluation/attic/*/*.csv
evaluation/attic/*/*.pdf

demos/web/bower_components

celeb-classifier*

site
dist
openface.egg-info

**/.idea
**/*.t7
**/*.pt
**/*.pkl
**/*.dat
**/*.npy
**/*.png
