build
_build
plots
work*
*reps

data
!data/vgg/download-and-align.py
!data/download-lfw-subset.sh

models/facenet/*.t7
models/dlib/shape_predictor_68_face_landmarks.dat

*.pyc
*.mp4

images/examples-aligned

evaluation/*/
evaluation/attic/*/*.csv
evaluation/attic/*/*.pdf

demos/web/bower_components
demos/web/unknown*.npy

models/openface/*.t7
models/openface/*.pkl
celeb-classifier*

site
/fer2013/fer2013.csv
.idea/*
api-docs
demos
docs
/images/
/mnist/train-labels.idx1-ubyte
/mnist/t10k-labels.idx1-ubyte
/mnist/t10k-images.idx3-ubyte
/mnist/train-images.idx3-ubyte
nohup.out
/cifar10/cifar-10-batches-py/
*.png
*.jpg
*.jpeg
rep-*
*.t7
!test_score.log
!/gamo/data/
!/cife/data/
